body {
	font-family: '8BITWONDERNominal'; 
   	font-weight: normal; 
   	font-style: normal; 
	font-size: 100%; 
	letter-spacing: .1em;
	text-transform: uppercase;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}

.video {
	width: 100%;
}

.content {
	width: 40%;
	position: absolute;
	top: 20px;
	left: 30%;
	padding: 0px 5%;
}

.content a {
	text-decoration: none;
	color: #fff;
}

.content a p {
	width: 90%;
	height: 25px;
}

.img {
	width: 20%;
	max-width: 60px;
	height: 25px;
	margin-right: 15px; 
}

.about-me {
	cursor: pointer;
}

.me, .me_gif {
	width: 150px;
	height: 150px;
}

.me_gif {
	width: 200px;
}

.me {
	border-radius: 30px;
}

#tg, #fb {
	width: 90px;
	height: 90px;
	margin: 0px 0px; 	
}