/* Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

/* Slick slider */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}.slick-loading .slick-list{background:#fff url(ajax-loader.gif) center center no-repeat}@font-face{font-family:slick;font-weight:400;font-style:normal;src:url(fonts/slick.eot);src:url(fonts/slick.eot?#iefix) format('embedded-opentype'),url(fonts/slick.woff) format('woff'),url(fonts/slick.ttf) format('truetype'),url(fonts/slick.svg#slick) format('svg')}.slick-next,.slick-prev{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:0;background:0 0}.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{color:transparent;outline:0;background:0 0}.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}.slick-next:before,.slick-prev:before{font-family:slick;font-size:20px;line-height:1;opacity:.75;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-prev{left:-25px}[dir=rtl] .slick-prev{right:-25px;left:auto}.slick-prev:before{content:'Ð²â€ Ñ’'}[dir=rtl] .slick-prev:before{content:'Ð²â€ â€™'}.slick-next{right:-25px}[dir=rtl] .slick-next{right:auto;left:-25px}.slick-next:before{content:'Ð²â€ â€™'}[dir=rtl] .slick-next:before{content:'Ð²â€ Ñ’'}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{position:absolute;bottom:-25px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:0;background:0 0}.slick-dots li button:focus,.slick-dots li button:hover{outline:0}.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}.slick-dots li button:before{font-family:slick;font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'Ð²Ð‚Ñž';text-align:center;opacity:.25;color:#000;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-dots li.slick-active button:before{opacity:.75;color:#000}

/* All except canvas */
*:not(canvas) {
	z-index: 1;
}

/* Body */
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	color: #fff;
}

/* Canvas */
canvas {
	position: fixed;
	top: 0;
	left: 0;
}

/* Header */
.header {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	height: 60px;
	width: 100%;
	background: rgba(0,0,0,.3);
	border-top: 3px solid rgba(0, 115, 170, .8);
}

.header .header__navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 2%;
}

.navbar__left-side-wrapper {
	display: flex;
}

.navbar__left-side-wrapper span,
.navbar__languages-wrapper,
.navbar__languages-wrapper:focus {
	font-size: 20px;
	color: #fff;
	outline: none;
}

.navbar__left-side-wrapper span:hover, .navbar__languages-wrapper:hover {
	opacity: .4;
	cursor: pointer;
}

.navbar__left-side-wrapper .about-me {
	margin-right: 20px;
}

/* Content */
.content {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content .content__wrapper {
	transition: transform .1s ease;
}

.content .content__wrapper .title, .content .content__wrapper .subtitle {
	font-weight: 600;
	color: #fff;
	margin: 0;
	font-family: Arial;
	cursor: default;
}

.content .content__wrapper .title {
	font-size: 80px;
}

.content .content__wrapper .subtitle {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 55px;
}

/* Dropdown tab */
.dropdown-tab {
	display: flex;
	align-items: center;
}

.dropdown-tab svg {
	width: 20px;
	height: 20px;
	display: block;
	margin-left: 8px;
}

.dropdown-tab--active {
	opacity: .4;
}

.dropdown-tab--active svg {
	transform: rotate(-180deg);
}

/* Dropdown menu */
.dropdown-menu {
	position: absolute;
	top: 60px;
	background: #000;
	border: 1px solid rgba(0, 115, 170, .8);
	padding: 15px 20px;
}

.dropdown-menu--projects {
	width: 350px;
	left: 9%;
}

.dropdown-menu .dropdown-menu__item {
	margin-bottom: 20px;
}

.dropdown-menu .dropdown-menu__item:last-child {
	margin-bottom: 0;
}

.dropdown-menu .dropdown-menu__item .item__title {
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

.dropdown-menu .dropdown-menu__item .item__description {
	font-size: 17px;
	font-style: italic;
	opacity: .85;
}

.dropdown-menu .dropdown-menu__item .item__links {
	font-size: 18px;
	font-weight: 600;
	display: flex;
}

.dropdown-menu .dropdown-menu__item .item__links a {
	margin-left: 8px;
	width: 20px;
	height: 20px;
	display: block;
}

.dropdown-menu .dropdown-menu__item .item__links a svg {
	width: 100%;
	height: 100%;
}

.dropdown-menu .dropdown-menu__item .item__links a,
.dropdown-menu .dropdown-menu__item .item__description a {
	color: #fff;
	text-decoration: none;
}

.dropdown-menu .dropdown-menu__item .item__links a:hover,
.dropdown-menu .dropdown-menu__item .item__description a:hover {
	opacity: .4;
	cursor: pointer;
}

.dropdown-menu--projects .dropdown-menu__item {
	overflow-y: hidden;
	max-height: 20px;
	transition: max-height .3s ease-out;
}

.dropdown-menu--projects .dropdown-menu__item:hover {
	max-height: 500px;
	transition: max-height .3s ease-in;
}

.dropdown-menu--projects .dropdown-menu__item:after {
	content: " ";
    display: block;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, .15);
    margin-top: 10px;
    border-radius: 2px;
}

.dropdown-menu--projects .dropdown-menu__item:last-child:after {
	display: none;
}

.dropdown-menu--languages {
	right: 1%;
	padding: 10px 0;
}

.dropdown-menu--languages .dropdown-menu__item {
	padding: 15px 20px;
	margin-bottom: 0;
	text-align: right;
	cursor: pointer;
}

.dropdown-menu--languages .dropdown-menu__item--current-language {
	background: rgba(0, 115, 170, .25);
	cursor: default;
}

.dropdown-menu--languages .dropdown-menu__item--current-language .item__title {
	cursor: default;
}

.dropdown-menu--languages .dropdown-menu__item:not(.dropdown-menu__item--current-language):hover {
	background: rgba(255, 255, 255, .15);
}

/* Modal */
.modal-wrapper {
	visibility: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.8);
}

.modal-wrapper--active {
	visibility: visible;
}

.modal-wrapper .modal {
	width: 50vw;
	border: 1px solid rgba(0, 115, 170, .8);
	padding: 30px 25px;
	background: #000;
	margin: auto;
	opacity: 0;
	transform: translateY(0);
	transition: all .15s ease-out;
}

.modal-wrapper--active .modal {
	opacity: 1;
	transform: translateY(30px);
	transition: all .2s ease-in;
}

.modal__header {
	display: flex;
	position: relative;
}

.modal .modal__header:after {
	content: "";
	display: block;
	width: 60%;
	height: 4px;
	border-radius: 2px;
	background: #fff;
	opacity: .7;
	position: absolute;
	bottom: 15px;
}

.modal__header .personal-info * {
	margin: 0 0 10px;
}

.modal__header .personal-info h4 {
    font-size: 30px;
    font-weight: 600;
}

.modal__header .personal-info h3 {
    text-align: justify;
    text-align-last: justify;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 20px;
}

.modal__header .personal-info p {
    font-size: 17px;
    font-style: italic;
    color: rgba(255, 255, 255, .85);
}

.modal__header .personal-info p span {
	font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
}

.modal__header .personal-image {
	width: 30%;
	min-width: 150px;
	max-width: 400px;
	height: auto;
	border: 6px solid rgba(255, 255, 255, .7);
	display: block;
	object-fit: cover;
	margin-left: auto;
}

.modal__header .close-modal {
	display: none;
	position: absolute;
	top: -15px;
	right: -10px;
	color: rgba(255, 255, 255, .85);
	font-size: 20px;
	z-index: 2;
	cursor: pointer;
}

.modal__body {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.modal__body .item {
	width: 48%;
}

.modal__body .item .item__title {
	font-size: 18px;
	font-weight: 600;
}

.modal__body .item .item__list {
	font-size: 17px;
	font-style: italic;
	padding-left: 35px;
}

.modal__body .item .item__list li {
	opacity: .85;
	margin-bottom: 10px;
	cursor: default;
}

.modal__body .item .item__list li:last-child {
	margin-bottom: 0;
}

.modal__body .item .item__list li:hover {
	opacity: 1;
}

.modal__body--mobile {
	display: none;
	position: relative;
}

.modal__body--mobile .item {
	width: 100%;
	margin-left: 2px;
}

.modal__body--mobile .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all .2s ease;
}

.modal__body--mobile .slick-arrow path {
	fill: rgba(0, 115, 170, .8);
}

.modal__body--mobile .prev-arrow {
	left: -3.5%;
}

.modal__body--mobile .next-arrow {
	right: 0;
}

.modal__body--mobile .slick-disabled {
	opacity: 0;
}

.modal__footer {
	position: relative;
	padding-top: 30px;
}

.modal__footer:before {
	content: "";
	display: block;
	width: 95%;
	height: 4px;
	border-radius: 2px;
	background: #fff;
	opacity: .7;
	position: absolute;
	top: 10px;
}

.modal__footer .links {
	display: flex;
	align-items: center;
}

.modal__footer .links span {
	font-size: 18px;
	font-weight: 600;
}

.modal__footer .links a {
	display: block;
	width: 20px;
	height: 20px;
	margin-left: 8px;
	color: #fff;
	text-decoration: none;
}

.modal__footer .links a:hover {
	opacity: .4;
}

.modal__footer .links a svg {
	width: 100%;
	height: 100%;
}

/* Hidden */
.hidden {
	display: none;
}

/* Media */
@media screen and (max-width: 1150px){
	/* Modal */
	.modal-wrapper .modal {
		width: 60vw;
	}

	.modal__header .personal-info h4 {
		text-align: justify;
		text-align-last: justify;
	}

	.modal__body .item .item__list,
	.modal__header .personal-info p {
		font-size: 20px;
	}
}

@media screen and (max-width: 1000px){
	/* Modal */
	.modal-wrapper .modal {
		width: 65vw;
	}

	/* Content */
	.content .content__wrapper .title {
		font-size: 72px;
	}

	.content .content__wrapper .subtitle {
		font-size: 36px;
	}
}

@media screen and (max-width: 920px){
	/* Modal */
	.modal-wrapper .modal {
		width: 70vw;
	}

	/* Content */
	.content .content__wrapper .title {
		font-size: 68px;
	}

	.content .content__wrapper .subtitle {
		font-size: 34px;
	}
}

@media screen and (max-width: 830px){
	/* Modal */
	.modal-wrapper .modal {
		width: 80vw;
	}

	/* Content */
	.content .content__wrapper .title {
		font-size: 64px;
	}

	.content .content__wrapper .subtitle {
		font-size: 32px;
	}
}

@media screen and (max-width: 730px){
	/* Modal */
	.modal__header .personal-image {
		display: none;
	}

	.modal .modal__header:after {
		bottom: -15px;
		width: 95%;
	}

	.modal__header .personal-info {
		width: 100%;
	}

	.modal__header .personal-info h4,
	.modal__header .personal-info h3 {
		text-align: center;
		text-align-last: unset;
		font-size: 40px;
	}

	.modal__header .personal-info p,
	.modal__header .personal-info p span,
	.modal__body .item .item__title,
	.modal__body .item .item__list,
	.modal__footer .links span {
		font-size: 25px;
	}

	.modal__header .close-modal {
		display: block;
	}

	.modal__body {
		margin-top: 35px;
		display: none;
	}

	.modal__body--mobile {
		display: flex;
	}

	/* Content */
	.content .content__wrapper .title {
		font-size: 56px;
	}

	.content .content__wrapper .subtitle {
		font-size: 28px;
	}
}

@media screen and (max-width: 600px) {
	/* Modal */
	.modal-wrapper--active .modal {
		transform: translateY(20px);
	}

	.modal__header .personal-info h4,
	.modal__header .personal-info h3 {
		font-size: 25px;
	}

	.modal__header .personal-info p,
	.modal__header .personal-info p span,
	.modal__body .item .item__title,
	.modal__body .item .item__list,
	.modal__footer .links span {
		font-size: 20px;
	}

	/* Content */
	.content .content__wrapper .title {
		font-size: 40px;
	}

	.content .content__wrapper .subtitle {
		font-size: 20px;
		line-height: normal;
	}
}

@media screen and (max-width: 420px){
	/* Content */
	.content .content__wrapper .title {
		font-size: 36px;
	}

	.content .content__wrapper .subtitle {
		font-size: 18px;
	}
}


@media screen and (max-width: 340px){
	/* Modal */
	.modal__header .personal-info h4,
	.modal__header .personal-info h3 {
		font-size: 22px;
	}

	.modal__header .personal-info p,
	.modal__header .personal-info p span,
	.modal__body .item .item__title,
	.modal__body .item .item__list,
	.modal__footer .links span {
		font-size: 18px;
	}

	/* Content */
	.content .content__wrapper .title {
		font-size: 32px;
	}

	.content .content__wrapper .subtitle {
		font-size: 16px;
		line-height: 30px;
	}
}