body {
	font-family: 'Arial';
	color: #fff;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.header {
	z-index: 2;
	position: relative;
	color: #fff;
	font-size: 40px;
	line-height: 80px;
	margin: 230px 20%;
	font-weight: bold;
}

.header__title {
	font-size: 80px;
	margin-bottom: 0px;
}

.header__subtitle {
	text-transform: uppercase;
	letter-spacing: .2em;
}

.navbar {
	background: rgba(0,0,0,.2);
	border-top: 3px solid rgba(200, 10, 10, .8);
}

.navbar-brand {
	cursor: pointer;
}

.nav-item {
	color: #fff;
	font-size: 20px;
	height: fit-content;
	margin: auto 3px;
}

.dropdown, .nav-link {
	color: #fff;
}

.dropdown:hover, .nav-link:hover {
	color: rgba(200, 10, 10, .8);
}

.fab {
	color: #fff;
}

.fab:hover {
	color: rgba(200, 10, 10, .8);
	text-decoration: none;
}


.dropdown-menu {
	border: 1px solid rgba(200, 10, 10, .8) !important;
	margin-left: 10% !important;
	background: #000 !important;
}

.dropdown-item {
	color: #fff !important;
}

.dropdown-item:hover {
	color: #000 !important;
}

.modal-content {
	border: 1px solid rgba(200, 10, 10, .8) !important;
	background: #000 !important;
	color: #fff !important;
}

.close {
	color: #fff !important;
}